page-whatsnew {
  .login-background{
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/vvish-new.appspot.com/o/images%2Foriginal.jpg?alt=media&token=8b4094f9-1126-4071-9b83-51f37af74c3a);
  }
  ion-col {
    float: left;
  }

  .bold {
    font-weight: bold;
  }

  .empty-list{
    text-align: center;
    position: relative;
    margin-top: 8.25em
  }
  div.group {
    text-align: center;
    position: relative;

    img {
      margin-top: 1.25em;
      border-radius: 100%;
      width: 5em;
      height: 5em;
      object-fit: cover;
    }

    img.activated,
    img:active {
      opacity: 0.5;
    }

    ion-badge {
      position: absolute;
      top: 1em;
      right: 3.5em;
    }

    p,
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0;
      margin: 0;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    p {
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      color: #007aff;
      font-size: 100%;
      display: block;
    }

    span {
      color: #8f8f8f;
      font-size: 90%;
      display: block;
      padding-bottom: 1.25em;
    }
  }

  div.group.activated,
  div.group:active {
    opacity: 0.5;
  }


}
