
<ion-header>

  <ion-navbar>
    <ion-title>{{group.value.title}}</ion-title>
    <!--<button ion-button  icon-only (click)="presentPopover($event)" >-->
      <!--<ion-icon name="more"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>

      <ion-col text-center>
        <ion-list detail-none >
          <ion-item>
            <h2>Event Details</h2>
            <ion-note (click) = "showLongToast(group.value.description)">{{group.value.description}}</ion-note>
          </ion-item>
          <ion-item>
            <h2>Event Date</h2>
            <ion-note>{{group.value.date}}</ion-note>
          </ion-item>
          <ion-item>
            <h2>Event Type</h2>
            <ion-note>{{group.value.type}}</ion-note>
          </ion-item>
          <ion-item *ngIf="group.value.type == 'Memories'">
            <h2>Event Location</h2>
            <ion-note (click) = "showLongToast(group.value.place)">{{group.value.place}}</ion-note>
          </ion-item>
        </ion-list>





      </ion-col>
    </ion-row>
    <ion-row *ngIf="group.value.finalVideo !=''">
      <ion-col >
        <ion-label>Generated Final Video</ion-label>
        <ion-list >
          <ion-item >
            <ion-avatar>
              <img src="https://firebasestorage.googleapis.com/v0/b/vvish-new.appspot.com/o/images%2Fvideo-placeholder.png?alt=media&token=bb0025b2-e4e1-4533-9f94-d7d5bdfb6e12" (click)="onvideoClick(this.group.value.finalVideo)">
            </ion-avatar>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-label>Members</ion-label>
        <ion-list >
          <button ion-item detail-none *ngIf="group.value.owner == currentUser"(click)="onCamera()" block >
            <ion-icon name="add" item-start></ion-icon>
            Add New Member
          </button>
          <ion-item *ngFor="let newcontact of group.value.contacts">
            <ion-avatar item-left>
              <img src="https://lh3.googleusercontent.com/H9yAIsZYqbIOh_E1ON90chVhO6SYSD6ucV-XirZXkMFDqLRjGoztobaxx1XS9CB4lfg=w300">
            </ion-avatar>
            <!--{{newcontact.name._objectInstance.name.formatted}}-->
            {{newcontact.displayName}}

            <button *ngIf="newcontact.photoUrl!=''"
              ion-button
              icon-only
               color="secondary" ><ion-icon name="image"></ion-icon></button>
            <button *ngIf="newcontact.videoUrl!=''"
              ion-button
              icon-only
               color="secondary"><ion-icon name="videocam"></ion-icon></button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-label>Recipient</ion-label>
        <ion-list >
          <button ion-item detail-none *ngIf="group.value.owner   == currentUser" (click)="onCamera()">
            <ion-icon name="add" item-start></ion-icon>
            Add New Recipient
          </button>
          <ion-item *ngFor="let newcontact of group.value.target">
            <ion-avatar item-left>
              <img src="https://lh3.googleusercontent.com/H9yAIsZYqbIOh_E1ON90chVhO6SYSD6ucV-XirZXkMFDqLRjGoztobaxx1XS9CB4lfg=w300">
            </ion-avatar>
            <!--{{newcontact.name._objectInstance.name.formatted}}-->
            {{newcontact.displayName}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="group.value.type !=='Capsule'&& group.value.type !=='Memories'">
        <button ion-button icon-start block (click)="photoUpload()">
          <ion-icon name="camera"></ion-icon>
          Upload Photo
        </button>
      </ion-col>
      <ion-col *ngIf="group.value.type =='Capsule' || group.value.type =='Memories'">
        <button ion-button icon-start block (click)="UploadPhotos()">
          <ion-icon name="camera"></ion-icon>
          Upload Photos
        </button>
      </ion-col>
      <ion-col *ngIf="group.value.type !='Capsule'&& group.value.type !='Memories'">
        <button ion-button icon-start block (click)="videoUpload()">
          <ion-icon name="images"></ion-icon>
          Upload video
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="group.value.type !='Capsule'&& group.value.type !='Memories'">
      <ion-col >
        <ion-label>Uploaded Media</ion-label>
        <ion-list >
          <ion-item >
            <ion-avatar *ngIf="this.group.value.photoUrl == ''" item-left>
              <img  src="http://www.banamalon.net/wiki/images/b/b9/Icon_my_photo_frame_wp8.png">
            </ion-avatar>
            <!--<ion-avatar   item-left>-->
              <!--<img id ="camera-image" >-->
            <!--</ion-avatar>-->
            <ion-avatar  *ngIf="this.group.value.photoUrl != ''" item-left>
              <img src={{this.group.value.photoUrl}} (click)="onphotoClick(this.group.value.photoUrl)">
            </ion-avatar>
            <ion-avatar *ngIf="this.group.value.videoUrl == ''" item-left>
              <img  src="http://www.banamalon.net/wiki/images/b/b9/Icon_my_photo_frame_wp8.png">
            </ion-avatar>
            <ion-avatar item-left *ngIf="this.group.value.videoUrl != ''" >
              <img src="https://firebasestorage.googleapis.com/v0/b/vvish-new.appspot.com/o/images%2Fvideo-placeholder.png?alt=media&token=bb0025b2-e4e1-4533-9f94-d7d5bdfb6e12" (click)="onvideoClick(this.group.value.videoUrl)">
            </ion-avatar>
          </ion-item>
        </ion-list>
      </ion-col>
      <!--<ion-col >-->
        <!--<ion-label>Video</ion-label>-->
        <!--<ion-list >-->
          <!--<ion-item >-->
            <!--<ion-avatar *ngIf="this.group.value.videoUrl == ''" item-left>-->
              <!--<img  src="http://www.banamalon.net/wiki/images/b/b9/Icon_my_photo_frame_wp8.png">-->
            <!--</ion-avatar>-->
            <!--&lt;!&ndash;<ion-avatar item-left>&ndash;&gt;-->
              <!--&lt;!&ndash;<img src={{this.group.value.videoUrl}} (click)="onvideoClick(this.group.value.videoUrl)">&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
            <!--<ion-avatar item-left *ngIf="this.group.value.videoUrl != ''" >-->
              <!--<img src="https://firebasestorage.googleapis.com/v0/b/vvish-91286.appspot.com/o/images%2Fvideo_thumbnail.png?alt=media&token=e2390388-7f38-4c7c-9f80-5a5a91127fd3" (click)="onvideoClick(this.group.value.videoUrl)">-->
            <!--</ion-avatar>-->

          <!--</ion-item>-->
        <!--</ion-list>-->
      <!--</ion-col>-->
    </ion-row>

    <ion-row *ngIf="group.value.owner == currentUser || group.value.type =='Memories'|| group.value.type =='Capsule'">
      <ion-col >
        <ion-label *ngIf="group.value.type =='Memories'">Uploaded Photos</ion-label>
        <ion-label *ngIf="group.value.type !='Memories'">Uploaded Files of all members</ion-label>
        <ion-list >
          <ion-item *ngIf="group.value.mediaFiles.length<=1">No Files.Please upload photo/video</ion-item>
          <!--<ion-item *ngFor="let file of medialist">-->
          <ion-item *ngIf="group.value.mediaFiles.length>1">
            <ion-slides  class="image-slider" loop="true" slidesPerView="5">
              <ion-slide *ngFor="let file of medialist">
                <ion-avatar *ngIf="file.indexOf('images')!=-1" item-left>
                  <img src= {{file}} (click)="onphotoClick(file)">
                </ion-avatar>
                <ion-avatar *ngIf="file.indexOf('videos')!=-1" item-left>
                  <img src="https://firebasestorage.googleapis.com/v0/b/vvish-new.appspot.com/o/images%2Fvideo-placeholder.png?alt=media&token=bb0025b2-e4e1-4533-9f94-d7d5bdfb6e12" (click)="onvideoClick(file)">
                </ion-avatar>
              </ion-slide>
            </ion-slides>
            <!--<ion-avatar item-left>-->
              <!--<img src= {{file}}>-->
            <!--</ion-avatar>-->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>




    <ion-row>
      <ion-col text-center>
        <!--<button-->
          <!--ion-button-->
          <!--icon-only-->
          <!--(click)="onEditGroup()" color="secondary"><ion-icon name="create"></ion-icon></button>-->
        <!--<button-->
          <!--ion-button-->
          <!--icon-only-->
          <!--(click)="onDeleteGroup()" color="danger"><ion-icon name="trash"></ion-icon></button>-->
        <button *ngIf="group.value.owner == currentUser" ion-button color="danger" (click)="onDeleteGroup()"  >Delete Group</button>

      </ion-col>
    </ion-row>
    <ion-row>

        <ion-col *ngIf="group.value.type =='Capsule' " text-center>
          <button ion-button icon-start block (click)="videoGenerate()">
            <ion-icon name="images"></ion-icon>
            Generate video
          </button>
        </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
